.row-a {
    background: orange;
}

.row-b {
    background: blue;
    color: white;
}

.row-c {
    background: lightgrey;
}

.row-e {
    background: black;
    color: white;
}


/* HELPERS */

.pad-1 {
    padding: 1rem;
}

.pad-2 {
    padding: 2rem;
}

.pad-4 {
    padding: 4rem;
}

.pad-6 {
    padding: 6rem;
}

.mar-1 {
    margin: 1rem;
}

.mar-2 {
    margin: 2rem;
}

.mar-left-1 {
    margin-left: 1rem;
}


/* BOOTSTRAP OVERRIDES */

.row {
    min-height: 500px;
}